{extend name="base" /}
{block name="css"}
{/block}
{block name="js"}
<script src="__ADMIN__/chargeitems/chargeitems.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
{if WSTGrant('CZGL_01')}
<div class="wst-toolbar">
   <button class="btn btn-success f-right" onclick="javascript:location.href='<?=url("Chargeitems/toEdit")?>'"><i class='fa fa-plus'></i>新增</button>
   <div style="clear:both"></div>
</div>
{/if}
<div class='wst-grid'>
<div id="mmg" class="mmg"></div>
</div>
<script>
  $(function(){initGrid({$p})});
</script>
{/block}
