	<div class="main">
	<div class="sub_title">
            <h2 class="index_tit"><b>移居項目（投資、創業、技術）</b>——拿身份，享醫療教育福利</h2>
            </div>
      <div class="cp_panel_ym">
         <ul class="cpy_list">
         <li>
         <dl>
          <dt>香港專才工簽</dt>
           <dd>	<h3>香港專才工簽</h3>
	<!--<h4>简单快速</h4>-->
		<h4></h4>
		<h5>獲得身份：工作簽證<br>	資産要求：無		</h5><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/Hongkongzc.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>香港優才計劃</dt><dd><h3>香港優才計劃</h3>
	<!--<h4>香港身份，无前置要求，续签灵活</h4>-->
		<h4></h4>
		<h5>獲得身份：居留簽證<br>	資産要求：20萬人民币		</h5><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/XGYC.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>香港公司報稅</dt><dd><h3>香港公司報稅</h3>
	<!--<h4>专业会计服务团队</h4>-->
		<h4></h4>
		<h5>獲得身份：其他服務<br>	資産要求：無		</h5><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/HongKonggsbs.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>香港資本投資者入境計劃</dt><dd><h3>香港資本投資者入境計劃</h3>
	<!--<h4>申请条件简单</h4>-->
		<h4></h4>
		<h5>獲得身份：其他服務<br>	資産要求：無		</h5><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/xgtz.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>香港高端人才 - 高薪人士</dt><dd><h3>香港高端人才 - 高薪人士</h3>
	<!--<h4>快</h4>-->
		<h4></h4>		<h5>獲得身份：居留簽證<br>	資産要求：無		</h5><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/xggcgxrs.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>香港高端人才 - 百強學士</dt><dd><h3>香港高端人才 - 百強學士</h3>
	<!--<h4>快</h4>-->
		<h4></h4>
		<h5>獲得身份：居留簽證<br>	資産要求：無		</h5><p><a href="" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>企業家來港工簽</dt><dd><h3>企業家來港工簽</h3>
	<!--<h4>有香港公司即可申请</h4>-->
		<h4></h4>
		<h5>獲得身份：工作簽證<br>	資産要求：無		</h5><p><a href="" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>職專畢業生留港計劃</dt><dd><h3>職專畢業生留港計劃（VPAS）</h3>
	<!--<h4>门槛最低获得全家香港身份新方式</h4>-->
		<h4></h4>
		<h5>獲得身份：學生簽證<br>	資産要求：25萬人民币		</h5><p><a href="" target="_blank">查看詳情</a></p></dd></dl></li>

		</ul>
</div>

<div class="sub_title">
          <h2 class="index_tit"><b>留學教育、金融類（開戶，註冊公司，報稅）</b>——省錢+便捷的移居捷徑</h2>
 </div>

            <div class="cp_panel_ym"><ul class="cpy_list">

            <li>
            <dl><dt>香港研究生</dt><dd><h3>香港研究生</h3>
	<h4>低門檻+高性價比獲得香港身份</h4>
	<h5>獲得身份：學生簽證<br>
			資産要求：20萬人民币	</h5><p><a href="" target="_blank">查看詳情</a></p></dd></dl>

	</li>

    <li><dl><dt>香港銀行開戶公司賬戶</dt><dd><h3>香港銀行開戶公司賬戶</h3>
	<h4>資金可自由調撥</h4>
	<h5>登陸要求：需要<br>存款要求:無	</h5>
		<p><a href="" target="_blank">查看詳情</a></p></dd></dl></li>

		<li><dl><dt>香港註冊公司</dt><dd><h3>香港註冊公司</h3>
	<h4>安全快捷，無需登陸</h4>
	<h5>登陸要求：不需要<br>
		資産要求:1港币	</h5><p><a href="" target="_blank">查看詳情</a></p></dd></dl></li>
		</ul>

		</div>
	<div class="sub_title">
            <h2 class="index_tit"><b>增值服務</b>——推薦的全套方案包能一步到位解決續簽、團聚等需求</h2>
     </div>
     <div class="cp_panel_fw">
       <ul class="cpy_list">
       <li><dl><dt><h2>香港優才後續服務</h2>
	<h4>居留簽證</h4></dt><dd> <p><a href="https://www.globevisa.com.cn/zhongguoxianggang/youcaihouxu.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt>	<h2>香港海牙認證</h2>
	<h4>其他服務</h4></dt><dd><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/haiyarenzheng.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt><h2>大國無犯罪</h2>
	<h4>其他服務</h4></dt><dd><p><a href="https://www.globevisa.com.cn/zhongguoxianggang/daguowufanzui.html" target="_blank">查看詳情</a></p></dd></dl></li><li><dl><dt><h2>香港高等教育後續服務</h2>
	<h4>其他服務</h4></dt><dd><p><a href="https://www.globevisa.com.cn/Hongkong/hkgdjyhxfw.html" target="_blank">查看詳情</a></p></dd></dl></li></ul>
	</div>
	</div>				
