<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript"> 
<!--
//图片按比例缩放
var flag=false;
function DrawImage(ImgD,iwidth,iheight){
    //参数(图片,允许的宽度,允许的高度)
    var image=new Image();
    image.src=ImgD.src;
    if(image.width>0 && image.height>0){
    flag=true;
    ImgD.width=image.width; ImgD.height=image.height;
    if(image.width/image.height>= iwidth/iheight){
        if(image.width>iwidth){  
          ImgD.width=iwidth;  ImgD.height=(image.height*iwidth)/image.width;
        }
    }  else{
        if(image.height>iheight){    ImgD.height=iheight;
        ImgD.width=(image.width*iheight)/image.height;        
        }
    }
    ImgD.alt=image.width+"×"+image.height;
    }
} 
//-->
</script>

<script language="javascript">
function killErrors() {    return true;}
window.onerror = killErrors;
</script>
<title>{eyou:global name='web_title' /}_{eyou:global name='web_name' /}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{eyou:static file="skin/css/bootstrap.css" /}
{eyou:static file="skin/css/font.css" /}
{eyou:static file="skin/css/amazeui.min.css" /}
{eyou:static file="skin/css/base.css" /}
<style type="text/css">
body, td, th {  font-family: "微软雅黑", Helvetica, Arial, Tahoma, SimSun, sans-serif;}
</style>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
{eyou:static file="skin/js/html5shiv.min.js" /}
{eyou:static file="skin/js/respond.min.js" /}    

<![endif]-->
{eyou:include file="headerym.htm" /}
</head><body>
<div class="post" style="display: none"><input type="text" value="1"></div>
<!-- 左侧飘窗
<div class="sider_left">
  <div class="sl_online_box">
    <div class="sl_online">
      <h3 style="background-image: url(/static/index/images/online_iconnew2.png)"></h3>
      <em>专家在线</em>
    </div>
  </div>
  <div class="sl_area"> <div class="sl_name">
      <dl> <dt>国际</dt>
      <dd><ul>
      <li class="li1"><a class="a1" href="javascript:;" onclick="openMeiqia({group_token: &#39;4fc608044644d5e2c7f0c20f8a43f33b&#39;}, &#39;gnpc-UpperLeft-Dubai&#39;,&#39;1&#39;,)">
            阿联酋迪拜               </a>     </li>
      
  </ul>        </dd>      </dl>
   <dl>        <dt>国内</dt>        <dd>          <ul>
      <li><a class="a2" href="javascript:;" onclick="openMeiqia({group_token: &#39;b4927f81a99d57a1d318b7cd91fc0ff9&#39;}, &#39;gnpc-UpperLeft-Shenzhen&#39;,&#39;1&#39;,)">深圳</a></li>
        <li><a class="a2" href="javascript:;" onclick="openMeiqia({group_token: &#39;0e6379e93b12c02eec9bcc24b4ba823c&#39;}, &#39;gnpc-UpperLeft-Hubei&#39;,&#39;1&#39;,)">武汉</a></li> </ul>        </dd>      </dl>
    </div>  </div>
  <div class="sl_close"></div>
</div> -->
<!-- 右侧弹窗-->
<div class="wrap" style="opacity: 1; display: block;">
    <ul>
        <li><a href="javascript:;" onclick="bweline()">在線諮詢  </a>  </li>
        <!-- <li ><a target="_blank" href="parent.openMeiqia(null,&#39;upperRight&#39;,&#39;2&#39;,)">条件测评</a></li> -->

    <li><a href="javascript:;" onclick="xxhz()">項目合作</a></li>

        <!--<li><a target="_blank" href="<?php echo $spath;?>/contrast.html&amp;ycpc">國家對比</a></li>
        <li ><a target="_blank" href="/sqzl.html&ycpc">免费材料</a></li>-->
        <li class="oli" style="margin-top: 13px;">
            <a href="<?php echo $spath;?>/zhongguoxianggang/index.html##">關註微信</a>
            
        </li>
        <!-- <li ><a target="_blank" href="/contentus.html?ycpc">联系我们</a></li> -->
        <li id="toTop" class="J_backTop" style="display: none;">
            <span class="top"></span>
            <a href="javascript:;">返回頂部</a>
        </li>
    </ul>
</div>
<!--项目合作弹窗-->
<!--广告图显示开始-->
  {php} echo $eyou['slideads'];{/php}  
<!--广告图显示结束-->

<div class="container">
  <div class="row"> {eyou:modelsartlist typeid='26'}
    <div class="col-md-4">
      <h2 class="index_tit"><b>视频</b>中心<small>最新的活动 </small><a href="javascript:;" onclick="bweline();"> 在线咨询</a></h2>
      <div style="background: white;">
        <div class="video"> {eyou:artlist loop='1' titlelen='20'}
          <video style="margin: 0 5%" width="90%" height="360" controls="controls" loop="loop">
            <source src="{eyou:field aid='$field.aid' addfields='shipin' /}" type="video/mp4">
            Your browser does not support the video tag. </video>
          {/eyou:artlist} </div>
        <a class="btn btn-default" href="{eyou:field name='typeurl' /}" style="margin: 18px 20px;">查看更多</a> </div>
    </div>
    {/eyou:modelsartlist}
    {eyou:modelsartlist typeid='2'}
    <div class="col-md-4">
      <h2 class="index_tit"><b>香港移民</b>动态<small>信息 </small></h2>
      <div class="index02 white_bg"> {eyou:artlist limit='0,1' titlelen='15' flag='p'} <a hre5f="{$field.arcurl}"><img src="{$field.litpic}" border="0" alt="{$field.title}" style="width:336px; height:150px;"></a> 
      {/eyou:artlist}
        <ul>
          {eyou:artlist limit='1,7' titlelen='20'}
          <li><a href="{$field.arcurl}">{$field.title}</a></li>
          {/eyou:artlist}
        </ul>
        <a class="btn btn-default" href="{eyou:field name='typeurl' /}">查看更多</a> </div>
    </div>
    {/eyou:modelsartlist}
    
    {eyou:modelsartlist typeid='5'}
    <div class="col-md-4">
      <h2 class="index_tit"><b>热门地区</b>公告<small>信息 </small></h2>
      <div class="index02 white_bg">
        <ul>
          {eyou:artlist loop='10' titlelen='20'}
          <li><a href="{$field.arcurl}">{$field.title}</a></li>
          {/eyou:artlist}
        </ul>
        <a class="btn btn-default" href="{eyou:field name='typeurl' /}">查看更多</a> </div>
    </div>
    {/eyou:modelsartlist} </div>
</div>
<div class="main">
  {php} echo $eyou['hkproject'];{/php}  
</div>
 {eyou:include file="hkcase.htm" /}  
{eyou:include file="showman.htm" /}

{eyou:include file="footerym.htm" /} 

<link rel="stylesheet" type="text/css" href="/hsytt/static/admin/css/font.css" />
<link rel="stylesheet" type="text/css" href="/hsytt/static/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/hsytt/static/admin/js/jquery.fallr/jquery.fallr.css" />
<link rel="stylesheet" type="text/css" href="/hsytt/static/admin/js/artDialog/skins/default.css" />
<script type="text/javascript" src="/hsytt/assets/fb04db1/jquery.min.js"></script>
<script type="text/javascript" src="/hsytt/static/admin/js/artDialog/jquery.artDialog.js"></script>
<script type="text/javascript" src="/hsytt/static/admin/js/artDialog/plugins/iframeTools.js"></script>
</body>
</html>
