<!-- 底部弹窗 -->

<div class="feiyong_zong dibulunbo augus--">
	<div class="feiyong_zhong">
		<div class="feiyong_zhong_1">
			<img src="https://www.globevisa.com.cn/static/index/images/feiyong_titlenew2.png" class="feiyong_tanchu">
			<img src="https://www.globevisa.com.cn/static/index/images/feiyong_closenew2.png" class="feiyong_close first_close" title="关闭">
		</div>
		 <section class="g_footer_calculation">
			<span>我们不止为您规划方向，而且为您分析每一笔花费</span>
			<a href = "javascript:;"><img src="https://www.globevisa.com.cn/static/index/images/tc_04new2.png" class="feiyong_close" style="position: absolute;right: 76px;top: 30px;"></a>
			<div class="g_footer_c_main clearfix">
				<div class="gfc_left">
					<div class="gfc_left_gg gfc_city_project">
						<ul class="clearfix">
							<li><span>选择项目</span></li><li><a href="javascript:;">请选择意向项目</a>	</li>
						</ul>

						<div class="gfc_cp_main_yc">
							<div class="gfc_cp_main">
<div class="gfc_cp_main_nav clearfix">
	<a class="btn_country countryAndProjectChoose" href="javascript:;">国家和地区</a>
	<span class="btn_before">></span>
	<a style="display: none" class="btn_project" href="javascript:;">项目</a>
</div>

<div class="gfc_cp_main_country clearfix">
	<div class="gfc_cp_main_country_zm">
		<a class="btn_zm_up" href="javascript:;"></a><ul></ul>
		<a class="btn_zm_down" href="javascript:;"></a>
	</div>
	<dl>
		<dd name="c_1" class="clearfix"><em></em><span>澳大利亚</span></dd>
		<dd name="c_27" class="clearfix"><em></em><span>美国</span></dd>
		<dd name="c_224" class="clearfix"><em></em>	<span>帕劳</span></dd>
			</dl>
</div>

<div style="display: none" class="gfc_cp_main_project">
			<dl name="c_1">
						<dd id="erp_2711">澳洲杰出人才GTI</dd>
						<dd id="erp_3177">澳洲本地服务项目</dd>
					</dl>
			<dl name="c_27">
						<dd id="erp_118">美国L1A创业工签</dd>
						<dd id="erp_1091">美国银行开户公司账户</dd>
						<dd id="erp_997">美国银行开户个人账户</dd>
						<dd id="erp_2361">美国EB3职业移民</dd>
						<dd id="erp_2938">美国远程结婚</dd>
					</dl>
				
			<dl name="c_224"><dd id="erp_3345">帕劳数字居民身份证</dd></dl>
	</div>
							</div>
						</div>
					</div>
<!--					<span class="gfc_text_tx" hidden="hidden">请添加您希望一起申请移民的家庭成员个数，添加人数不同导致费用产生差异</span>-->
					<span class="gfc_text_tx" hidden="hidden"></span>
					<div class="gfc_left_gg gfc_people_xq" hidden="hidden">
						<ul class="clearfix">
							<li>
<span>申请人数</span>
							</li>

							<li>
<a href="javascript:;" class="tjrs">希望添加人数</a>
							</li>
						</ul>

						<div style="display: none" class="gfc_people_main_yc">
							<div class="gfc_people_main">
<dl>

</dl>
							</div>
						</div>
					</div>
					<div class="gfc_left_gg gfc_left_fjx">
						<ul class="clearfix">
							<li>
<span class="moneyName">投资金额</span>
							</li>

							<li class="fjx_tzje clearfix">
<input type="text" value="0" class="minMoney" id ="">
<em>币种</em>
							</li>

							<li style="display: none">
<input type="text" value="3">
							</li>
						</ul>
					</div>
					<div class="gfc_left_gg gfc_left_sqfs">
						<ul class="clearfix">
							<li>
<span>申请方式</span>
							</li>

							<li>
<a href="javascript:;">请选择申请方式，不同方式会导致收费产生差异</a>
							</li>
						</ul>

						<div style="display: none" class="gfc_sqfs_main_yc">
							<div style="border: 1px solid #D2D2D2;box-sizing: border-box;height: 100%;">
<div class="gfc_sqfs_main">	<ul></ul></div>
<img src="https://www.globevisa.com.cn/static/index/images/fy_033new2.png" style="margin: 0 auto;cursor:pointer;"  class="ok_btn">
							</div>
						</div>
					</div>
<form >
	<div class="gfc_left_phone">
		<ul class="clearfix">
<li class="PopupHidUserName">	<span>姓名</span></li>
<li class="xq_phone PopupHidUserName" style="width: 410px;margin-bottom: 20px;">
	<input type="text" placeholder="怎么称呼您？" name="userName"  value=""></li>
<li class="PopupHidTel2">	<span>手机号</span></li>
<li class="xq_phone PopupHidTel2" style="margin-bottom: 20px">
	<!-- <select  class="porject " name="countrycode"  id="countrycode" >
		<option value="0086">中国 +86</option>
	</select> -->

	<dl class="flex_window">
		<dd class="flex_window">
			<div class="select-i-window">
				<p class="input-txt-window" id="">国编</p>
				<i class="jt_window"><img
						src="https://www.globevisa.com.cn/static/index/images/form_flag_select_pull.png"
						alt=""></i>
				<ul class="ul-select-window un-fold-window" id="countryCodeWindow"></ul>
			</div>
		</dd>
	</dl>
	<input type="text" placeholder="请输入您的手机号" name="tel"  value="">

</li>
<li class="PopupHidTel2">
	<span>验证码</span>
</li>
<li class="xq_phone PopupHidTel2" style="margin-bottom: 20px">
	<div class="form_group clearfix">
		<input type="text" name="pwd" class="pwd" placeholder="输入验证码">
		<input type="button" style="background-color: #dab371;color: #ffffff;padding-left:0px" class="submit get_sms" window_action="video_list_sms" value="获取验证码">
	</div>
</li>
<li class="tjBtn" style="width: 410px">
	<input type="hidden" name="countrycode" value="">
	<input type="hidden" name="action" value="fytc" />
	<input type="hidden" name="p_num" value="1" class="p_num"/>
	<input type="hidden" name="fee" value="" class="fee" />
	<input type="hidden" name="check_a" value="" class="check_a"/>
	<input type="hidden" name="check_h" value="" class="check_h"/>
	<input type="hidden" name="include" value="" class="include"/>
	<input type="hidden" name="p_total" value="" class="p_total"/>
	<input type="hidden" name="ymProject" value="" class="ymProject"/>
	<input type="hidden" name="erpid" value="" class="erpid"/>
	<a href="javascript:;" class="ajaxBtn fytc2">开始计算</a>
</li>
							</ul>
						</div>
					</form>
				</div>

				<div class="gfc_right">
					<ul>
						<li>
							<span class="zhf">预计投资额：<a class="tz_money">?</a>元</span>
							<a href="javascript:;">
<span>什么是投资额？</span>
<p><em>投资额是指办理该项目初始需投入的资金，并非实际花费，因为部分项目的投资款项到期可返还。最终计算结果仅供参考。</em></p>
							</a>
						</li>

						<li>
							<span class="jtr">预计净花费：<a class="tz_money">?</a>元</span>
							<a href="javascript:;">
<span>什么是净花费？</span>
<p><em>净花费是指办理该项目预计实际花费的金额，因为部分项目的投资款可收回，如购房移民项目中，购买的房产为个人财产等则未计入净花费中，此金额供参考。</em></p>
							</a>
						</li>
					</ul>

					<div class="gfc_right_tips">
						<div class="gfc_right_tips_w" style="display: none">
							<span>我们将根据您选择的项目计算费用明细</span>
							<span>让您算清每一笔账，心里更有谱</span>
						</div>

						<div class="gfc_right_tips_y">
							<span>根据您的选择为您计算出每项具体花费，计算结果仅供参考</span>
							<span>您可随时联系专家解析每一笔花费，不花冤枉钱</span>
						</div>
					</div>

					<div class='dlTitle'><span>费用名称</span><span>金额</span><span>收费时间</span></div>
					<dl class="allDetail">
						<dd class="clearfix"><span>服务费</span>	<span>？</span>	<span>？</span>	</dd>
						<dd class="clearfix"><span>律师费</span>	<span>？</span>	<span>？</span>	</dd>
						<dd class="clearfix"><span>翻译费</span>	<span>？</span><span>？</span></dd>
						<dd class="clearfix"><span>公证费</span>	<span>？</span><span>？</span></dd>
						<dd class="clearfix"><span>体检费</span>	<span>？</span><span>？</span></dd>
					</dl>
				</div>
			</div>
		</section>
	</div>
</div>
